{
  "extends": "eslint-config-standard",
  "root": true,
  "rules": {
    "max-len": [
      2,
      120,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "overrides": [
    {
      "files": "*.spec.js",
      "rules": {
        "max-nested-callbacks": "off"
      }
    }
  ],
  "env": {
    "mocha": true
  }
}
